<ion-content> 
  <form #f="ngForm" (ngSubmit)="entrar(f)">
    <ion-list>
      <ion-item>
          <div style="text-align:center; margin-top:10px;">
             <ion-img src="assets/icon.png" style="margin: 0 auto; height:120px;width:120px;"  ></ion-img>
          </div>
      </ion-item>
      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="email" name="email" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" name="senha" ngModel></ion-input>
      </ion-item>
    </ion-list>
    <div>
        <button ion-button block>Entrar</button>
        
        <button ion-button outline block type="button" (click)="registrar()"> Registrar</button>
        <div style="text-align:center;"><br/>
          <h3>Login com redes sociais:</h3>
        <button ion-button type="button" color="danger" (click)="loginGoogle()">
          <ion-icon name="logo-googleplus"></ion-icon>
        </button>
        <button ion-button type="button" style="background-color:#327eff" (click)="loginFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
        </div>
      </div>
  </form>
</ion-content>
