<!--<ion-header>
  <ion-menu [content]="mycontent">
    <ion-content>
      <ion-list>
        <ion-item menu-close detail-none> Fechar </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-header>
<ion-nav #mycontent [root]="rootPage"></ion-nav>


  <ion-buttons end>
      <button ion-button icon-only color="danger">
        <ion-icon name="menu"></ion-icon>
        </button>
  </ion-buttons>-->
  <ion-content>
      
      <ion-slides pager>
        <ion-slide>
          <ion-buttons end>
          <button ion-button icon-only (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
          </button>
        </ion-buttons>
          <div class="div-fab">
              <button (click)="tiraFoto()" class="cam-fab" ion-fab icon-only>
                <ion-icon class="icon-cam" name="camera"></ion-icon>
              </button>
          </div>
        </ion-slide>
    
        <ion-slide>
          <div>
            <ion-buttons end>
              <button ion-button icon-only (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
              </button>
            </ion-buttons>
            <h1 margin>
              Denuncias realizadas
            </h1>
            
          </div>
          <div class="scroll">
          <ion-card *ngFor="let d of lista | async">
            <a (click)="detalhes(d)">
            
              <ion-card-header>
                <strong>{{d.data | date: 'dd/MM/yyyy HH:mm'}}</strong>
              </ion-card-header>
              <ion-item>
                <ion-thumbnail item-start>
                  <img [src]="d.imagem" />
                </ion-thumbnail>
                <div *ngIf="d.categoria != undefined">{{d.categoria}}</div>
                
              </ion-item>
              <a target="_blank" href="https://www.google.com/maps/place/{{d.localizacao.latitude}},{{d.localizacao.longitude}}" ion-button icon-left clear item-end>
                <ion-icon name="map"></ion-icon>
                Mapa
              </a>
            </a>
          </ion-card>
          </div>
        </ion-slide>
    
        <ion-slide>
          <ion-card-header>
              <ion-buttons end>
                  <button ion-button icon-only (click)="logout()">
                    <ion-icon name="log-out"></ion-icon>
                  </button>
                </ion-buttons>
                <h1 margin>Sobre</h1>
          </ion-card-header>
          <div class="scroll">
            <p style="text-align:left;margin: 0 10px">
                    &ensp; O <strong>RP Alerta</strong> tem como objetivo registrar denúncias sobre ocorrências 
                    que tenham ocorrido ou estejam acontecendo na cidade. O usuário se cadastra e 
                    tira uma foto da ocorrência, podendo informar a categoria e adicionar uma descrição.
                    Sua denúncia ficará registrada, contendo a data e o horário, bem como a descrição e 
                    a localização do lugar onde foi registrada. <br/> <br/>
                    &ensp;Após o registro, sua denúncia é enviada automaticamente para a prefeitura de 
                    São José do Rio Preto, onde os responsáveis cuidarão para que o problema seja resolvido.

                    <br><br>

                    &ensp;O Aplicativo faz uso da localização e câmera do aparelho celular, além de informações 
                    de login do usuário como nome e email a fim de criar 
                    uma denúncia junto à <strong> Coordenadoria Municipal de Defesa Civil </strong>
                    <br/>
                  </p>
                     <p style="text-align:center;">RP-alerta - V.0.0.2</p>
           
          </div>
        </ion-slide>
      </ion-slides>
    </ion-content>
    